<footer class="footer">
  <small>
    <%= t "static_pages.footer.content_html" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.about"), about_path %></li>
      <li><%= link_to t("static_pages.contact"), contact_path %></li>
      <li><%= link_to t("static_pages.news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
