<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("static_pages.sample_app"), root_path, class: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("static_pages.home"), root_path %></li>
        <li><%= link_to t("static_pages.help"), help_path %></li>
        <li><%= link_to t("static_pages.log_in"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
